.countdown {
    font-size: 40px;
    color: red;
}

.board {
    background-image: url("../../svg/desert-forest-landscape-at-daytime-scene/qwkv_vaqa_210426.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
/*height: 400px;*/

    width: 100%;
    height: 80%;
    background-color: aquamarine;
}


.boardStartDialog {
    position: absolute ;
    top:25%;
    left:25%;
    width: 50%;
    height:50%;
    background-color:red;

}
