.kennyElement {
  position: absolute;
  width: 150px;
  height: 200px;
  bottom: -200px;
  background-color: blue;
  transition: all 2s ease-in-out;
}

.overlay {
  position: absolute;

  background-color: green;
  color: red;
}

.kenny {
  width: 150px;
  top: 0px;
  position: absolute;
  display: block;
  transition: all 2s ease-in-out;
}
/* .animationWaiting{
    animation: 0.4s ease-in-out  infinite alternate waiting;
}  */

/* .animationPlay{
    animation: 0.5s ease-in-out  2 alternate kennyUpDown;
} */

//
// @keyframes waiting{
//     0%{
//         top: 0px;
//     }
//     50%{
//         top: -10px;
//     }
//      100%{
//         top: 0px;
//     }
//
// }
//
// @keyframes kennyUpDown{
//     0%{
//         top: 0px;
//     }
//     50%{
//         top: random(400)-400+px;
//     }
//
//     100%{
//         top: 0px;
//     }
//
// }
